body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 500px;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .grid {
    display: grid;
   
  }
  
  .box {
    width: 100px;
    height: 100px;
    background-color: rgb(80, 80, 80);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  
  .dark-gray {
    background-color: rgb(80, 80, 80);
  }
  
  .light-gray {
    background-color: rgb(150, 150, 150);
  }